a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    background-color:cadetblue;
    height: 100vh;
}

.button-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    padding: 8px;
    background-color: white;
    border-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 3px white;
}

.container {
    background-color: rgb(255,255,255);
    height: 600px;
    width: 600px;
    display: flex;
}

.container-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 20px;
}

.opacity {
    opacity: 1;
}

.row-square {
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    flex: 1;
    column-gap: 1px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px;
    font-size: 24px;
    color: white;
}
.column-square {
    background-color: rgb(255,255,255);
    flex: 1;
    row-gap: 1px;
    column-gap: 1px;
}

.column-square:hover {
    background-color: rgb(0, 0, 0);
}

a:hover {
    color: gold;
}